*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

body{
    background-color: black;
    color: #daa520;
    font-family: cursive, sans-serif;
    font-size: max(1.2rem, 2vw);
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}


.big-circle{
    width: clamp(100px, 83vw, 500px);
    height: clamp(100px, 83vw, 500px);
    align-self: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 50%;
    background-color: #daa520;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper{
    /* border: 2px solid #daa520; */
    max-width: 1536px;
    width: 90%;
    height: 2rem;
    position: relative;
    margin-inline: auto;
    overflow: hidden;
    mask-image: linear-gradient(to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 13%,
        rgba(0, 0, 0, 1) 87%,
        rgba(0, 0, 0, 0)
    );
    

}

.item{
    position: absolute;
    right: 100%;
    animation-name: scrollRight;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes scrollRight{
    to{
        right: -100%;
    }
}

.item1{
    animation-delay: calc(30s / 8 *(8 - 1)* -1);
}

.item2{
    animation-delay: calc(30s / 8 *(8 - 2)* -1);
}

.item3{
    animation-delay: calc(30s / 8 *(8 - 3)* -1);
}

.item4{
    animation-delay: calc(30s / 8 *(8 - 4)* -1);
}

.item5{
    animation-delay: calc(30s / 8 *(8 - 5)* -1);
}

.item6{
    animation-delay: calc(30s / 8 *(8 - 6)* -1);
}

.item7{
    animation-delay: calc(30s / 8 *(8 - 7)* -1);
}

.item8{
    animation-delay: calc(30s / 8 *(8 - 8)* -1);
}


.other-wrapper{
    /* border: 2px solid red; */
    max-width: 1536;
    width: 90%;
    margin-inline: auto;
    position: relative;
    height: 2rem;
    overflow: hidden;
    mask-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)13%,
        rgba(0, 0, 0, 1)87%,
        rgba(0, 0, 0, 0)
    );
}

.other{
    position: absolute;
    left: 100%;
    animation: scrollLeft 30s linear infinite ;
}

@keyframes scrollLeft{
    to{
        left: -100%;
    }
}


.other1{
    animation-delay: calc(30s / 8 *(8 - 1)* -1);
}

.other2{
    animation-delay: calc(30s / 8 *(8 - 2)* -1);
}

.other3{
    animation-delay: calc(30s / 8 *(8 - 3)* -1);
}

.other4{
    animation-delay: calc(30s / 8 *(8 - 4)* -1);
}

.other5{
    animation-delay: calc(30s / 8 *(8 - 5)* -1);
}

.other6{
    animation-delay: calc(30s / 8 *(8 - 6)* -1);
}

.other7{
    animation-delay: calc(30s / 8 *(8 - 7)* -1);
}

.other8{
    animation-delay: calc(30s / 8 *(8 - 8)* -1);
}





